.header-container{
	background: url(../../images/headbkv3.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.headerCTA{
	text-align: center;
	background-color: rgba(0,0,0,0.65);
	color: #f3f3f3;
	letter-spacing: 1.1px;
	padding-top: 20px;
	font-size: 60px;
	font-weight: 600;
}
.headerIMG .img-circular{
    /* make it responsive */
    display:block;
    /* make it a circle */
    border-radius:50%;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    /*Centering LineS*/
    padding: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
.headerIMG .img-circular #overlay{
	position: absolute;
	z-index: 10;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	background-color: rgba(0,0,0,0.5);
	align-items: center;
	justify-content: center;
	opacity: 0;
	-webkit transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;

}
.headerIMG .img-circular:hover #overlay{
	opacity: 1;
	-webkit transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}


.headerSUB{
	text-align: center;
	color: #f3f3f3;
	font-weight: 450;
	/* background-color: rgba(52,58,64,0.65); */
	background-image: -webkit-linear-gradient(top, rgba(52,58,64,0.1), rgba(52,58,64,0.6), rgba(52,58,64,1));
  	background-image: -moz-linear-gradient(top, rgba(52,58,64,0.1), rgba(52,58,64,0.6), rgba(52,58,64,1));
  	background-image: -ms-linear-gradient(top, rgba(52,58,64,0.1), rgba(52,58,64,0.6), rgba(52,58,64,1));
  	background-image: -o-linear-gradient(top, rgba(52,58,64,0.1), rgba(52,58,64,0.6), rgba(52,58,64,1));
  	background-image: linear-gradient(top, rgba(52,58,64,0.1), rgba(52,58,64,0.6), rgba(52,58,64,1));

}
span.subContent { display:none }
/*
@media (max-width: 768px) {
	.headerIMG .img-circular{
	    max-width: 300px;
	    height: 300px;
	}
}
*/