html{
	font-family: sans-serif;
	line-height: 1.15;
}
body{
	background-color: black !important; 
}

.certificates_experience{
	background-color: #D7503C;
}
.about{
	background-color: #06b9d6;
}
.main-container section {
  padding: 154px 0 100px;
}
.card{
	margin: 30px 15px;
}
h1.text-center{
	padding-bottom: 40px;
}
.aboutCard{
	padding: 15px;

}
.transition_ap{
	height: 10px;
	background-image: -webkit-linear-gradient(top, #06b9d6, #28a745);
  	background-image: -moz-linear-gradient(top, #06b9d6, #28a745);
  	background-image: -ms-linear-gradient(top, #06b9d6, #28a745);
  	background-image: -o-linear-gradient(top, #06b9d6, #28a745);
  	background-image: linear-gradient(top, #06b9d6, #28a745);
}
.transition_ps{
	height: 10px;
	background-image: -webkit-linear-gradient(top, #28a745, #D7503C);
  	background-image: -moz-linear-gradient(top, #28a745, #D7503C);
  	background-image: -ms-linear-gradient(top, #28a745, #D7503C);
  	background-image: -o-linear-gradient(top, #28a745, #D7503C);
  	background-image: linear-gradient(top, #28a745, #D7503C);
}

.btnWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.aTitle{
	width: 100% auto;
	text-align: center;
}
.sHeader{
	font-weight: 600;
}




@media (min-width: 992px) { /* FOR PCs ONLY */
.main-container section {
    padding: 156px 0 100px;
  }
  section .text-center{
  	margin-top: -100px;
  }
}
