html{
	font-size: 16px;
	font-family: Helvetica,Arial,sans-serif;
	color: black;
	background-color: #ddd;
	overflow-x: hidden;
}
.contact{
	background-color: #1a222c;
	color: #f3f3f3;
}

.main-container section {
  padding: 60px 10px 60px;
}
.sHeader{
	font-weight: 400;
	margin: 10px auto;
}
a{
	text-decoration: none;
	color: inherit;
}
.table-hover tbody tr:hover{
	background-color: #1a222c;
	color: #f3f3f3;
}
.progress{
	margin-top: 5px;
	height: 12px;
}
.table td, .table th {
	padding: 0.25rem;
}
.table{
	overflow: auto;
}

.falltheme{
	background-color: #d26c00;
}

.footd{
	background-color: white;
	padding: 100px;
}
.about h5 .highlight{
    -webkit-animation: colorLoop 12s infinite;
    -moz-animation: colorLoop 12s infinite;
    -o-animation: colorLoop 12s infinite;
    -ms-animation: colorLoop 12s infinite;
    animation: colorLoop 12s infinite;
    font-weight: bold;
}
@-webkit-keyframes colorLoop {
    0% { color: maroon; }
    17% { color: #de11af; }
    33% { color: #17a2b8; }
    50% { color: #28a745; }
    67% { color: #a5a50d; }
    83% { color: #d26c00; }
    100% { color: maroon; }
}
@-moz-keyframes colorLoop {
    0% { color: maroon; }
    17% { color: #de11af; }
    33% { color: #17a2b8; }
    50% { color: #28a745; }
    67% { color: #a5a50d; }
    83% { color: #d26c00; }
    100% { color: maroon; }
}
@-ms-keyframes colorLoop {
    0% { color: maroon; }
    17% { color: #de11af; }
    33% { color: #17a2b8; }
    50% { color: #28a745; }
    67% { color: #a5a50d; }
    83% { color: #d26c00; }
    100% { color: maroon; }
}
@-o-keyframes colorLoop {
    0% { color: maroon; }
    17% { color: #de11af; }
    33% { color: #17a2b8; }
    50% { color: #28a745; }
    67% { color: #a5a50d; }
    83% { color: #d26c00; }
    100% { color: maroon; }
}
@keyframes colorLoop {
    0% { color: maroon; }
    17% { color: #de11af; }
    33% { color: #17a2b8; }
    50% { color: #28a745; }
    67% { color: #a5a50d; }
    83% { color: #d26c00; }
    100% { color: maroon; }
}